---
---

@import "{{ site.theme }}";

body {
  background-color: rgb(241, 225, 6);
}

.page-header {
  background-image: linear-gradient(118deg, #7acfd4, #ffafaf);
//   set color to elegent dark gray
  color: #333;
}

a {
    color: #ff7c7c;
}

:is(h1, h2, h3, h4, h5, h6) {
    color: #1fc7cf
}