---
---

@import "{{ site.theme }}";

body {
  background-color: white;
}

.page-header {
  background-image: linear-gradient(118deg, #7acfd4, #ffafaf);
//   set color to elegent dark gray
  color: #333;
}

a {
    color: #fc1b1b;
}

h1 {
    color: rgb(241, 225, 6);
}

h2 {
    color: rgb(241, 225, 6);
}
h3 {
    color: rgb(241, 225, 6);
}
h4 {
    color: rgb(241, 225, 6);
}
h5 {
    color: rgb(241, 225, 6);
}
h6 {
    color: rgb(241, 225, 6);
}